.header{
    display: flex;
    height: 40px;
    padding: 2em 10%;
	background-color:rgba(0, 255, 0, 0.3);
   
}
.logo{
    flex-grow: 1;
    float:center;
    margin: 10px;
    width: 50px;
    height: 50px;
}
.menu{
    flex-grow: 3;
    width: 600px;
    margin: 0 auto;
    padding: 10px;
}
.menu a{
    padding: 3em;
}
.register{
    flex-grow: 1;
}
body{
    margin: 0;
    background-color: yellowgreen;
}

